<div{{ attributes.addClass('crossword').addClass('crossword-solution') }}>

  <div class="crossword-header">
    {% if content.title is not empty or content.author is not empty or content.notepad is not empty %}
      <div class="crossword-details">
        {{ content.title }}
        {{ content.author }}
        {{ content.notepad }}
      </div>
    {% endif %}
  </div>

  {{ content.grid }}

</div>
