<div class="crossword-controls">
  <div class="crossword-options">
    {{ content.errors }}
    {{ content.references }}
  </div>
  <div class="crossword-buttons">
    <div class="solution-buttons">
      {{ content.cheat }}
      {{ content.solution }}
      {{ content.clear }}
    </div>
    <div class="undo-redo">
      {{ content.undo }}
      {{ content.redo }}
    </div>
  </div>
</div>
