<div{{ attributes.addClass('crossword').addClass('crossword-solution') }}>

  <div class="crossword-header">
    <div class="crossword-details">
      {{ content.title }}
      {{ content.author }}
      {{ content.notepad }}
    </div>
  </div>

  {{ content.grid }}

</div>
