<div{{ attributes.addClass('crossword').addClass('show-references') }}>

  <div class="crossword-header">
    {% if content.title is not empty or content.author is not empty or content.notepad is not empty %}
      <div class="crossword-details">
        {{ content.title }}
        {{ content.author }}
        {{ content.notepad }}
      </div>
    {% endif %}
    <div class="crossword-buttons">
      <div class="show-errors-wrapper">
        <input type="checkbox" id="show-errors" name="show-errors">
        <label for="show-errors">Show Incorrect Letters</label>
      </div>
      <div class="show-references-wrapper">
        <input type="checkbox" id="show-references" name="show-references">
        <label for="show-references">Highlight References</label>
      </div>
      <div class="show-solution-wrapper">
        <button class="show-solution">Show Solution</button>
      </div>
      <div class="show-cheat-wrapper">
        <button class="cheat">Cheat</button>
      </div>
    </div>
  </div>

  <div id="active-clues" class="active-clues">
  {# This gets populated by js #}
  </div>

  <div class="crossword-puzzle clearfix">
    {{ content.grid }}
    {{ content.across }}
    {{ content.down }}
  </div>

</div>
